.Component--Navigation {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #fff;
  border-left: 1px solid #eee;
  height: 100%;
  min-width: 200px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.05);
}

.Component--Navigation.hidden {
  border-left: none;
  background: transparent;
  height: 0;
}

.Component--Navigation .hamburger {
  user-select: none;
  cursor: pointer;
  background-color: #fff;
  padding: 8px 14.5px;
  margin: 1em;
  border-radius: 50%;
}

.Component--Navigation.hidden .hamburger {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.05);
}

.Component--Navigation .list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.Component--Navigation .list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 100%;
}

.Component--Navigation .list a {
  border-bottom: 1px solid #eee;
}

.Component--Navigation .list a:first-child {
  border-top: 1px solid #eee;
}

.Component--Navigation .list a:hover {
  background: #f9f9f9;
}

.Component--Navigation.hidden .list,
.Component--Navigation.hidden .logout-button {
  display: none;
}

.Component--Navigation .logout-button {
  margin: 1em;
}

.Component--Navigation .user-info {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ccc;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  padding: 1em;
}
