.Component--BooksList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

@media only screen and (min-width: 768px) {
  .Component--BooksList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
  }
}
