.Component--WriteContainer {
  display: grid;
}

@media only screen and (min-width: 768px) {
  .Component--WriteContainer {
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1em;
  }
}

.Component--WriteContainer .left h2 {
  margin-top: 0;
}
