.Component--PageContainer {
  height: 100%;
}

.Component--PageContainer .page-title {
  background-color: #222a40 !important;
  color: #fff;
}

.Component--PageContainer .page-title {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1em;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.Component--PageContainer .page-title h2 {
  margin: 0;
  padding: 0;
}

.Component--PageContainer .page-content {
  padding: 1em;
}

.Component--PageContainer .page-title {
  background: #fff;
  margin-top: 0;
}
