.Component--LoginForm {
  min-width: 250px;
  width: 300px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.Component--LoginForm .Atom--Input {
  margin-bottom: 1rem;
}

.Component--LoginForm .buttons-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.Component--LoginForm .buttons-container .Atom--Button {
  align-self: flex-start;
}

.Component--LoginForm .buttons-container .Atom--Button {
  align-self: flex-end;
}
